<p id="notice"><%= notice %></p>

<% if @article.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @article.photo.key, height: 300, width: 400, crop: :fill %>);">
    <div class="container">
      <h1> <%= @article.title %> </h1>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <!-- Generate an IMG Tag -->
      <%#= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>


      <p>
        <strong>Body:</strong>
        <%= @article.body %>
      </p>

      <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning' %> |
      <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>

